@import "tailwindcss";

@theme {
    --font-display: "Barlow", sans-serif;

    --color-bg-light: #f8f7f7; /* Gris claro */
    --color-principal: #ff3333;
    --color-secundario: #ff9c9c;
    --color-terciario: #ff6464;
    --color-gris: #D1D1D1;
    --color-gris-oscuro: #333333;
    
    --container-8xl: 1400px;
}

body{
    background: var(--color-bg-light);
}